[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=UDS
Exec=/opt/uds/bin/uds
Icon=/usr/share/icons/hicolor/80x80/apps/uds80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
